/* General styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #303030;
    height: 100%;
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header styling */
header {
    text-align: center;
    padding: 20px;
    color: white;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 90px;
}

header p {
    font-size: 16px;
    margin-right: 170px;
    margin-bottom: 10px;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    flex-grow: 1; 
    justify-items: center;  
}

.grid-item .card-title {
    font-size: 12px;
    font-weight: bold;
}

.grid-item .card {
    background-color: white;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid grey;
    width: 100px; 
    height: 150px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
}

.grid-item .card p.card-title {
    margin: 0;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

.grid-item .card p.card-context {
    font-size: 8px;
    color: grey;
    margin-top: 5px;
    text-align: center; 
    line-height: 1.2; 
}

footer {
    background-color: white;
    padding: 10px;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    text-align: center;
    flex: 1;
}

footer nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul li img {
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin: 0 auto;
    padding-bottom: 5px;
}